@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
  box-sizing: border-box;
  height: 120px; 
  background-image: linear-gradient( yellow, white);
  background-repeat: no-repeat;
}

 

li, a, button{
  font-family: sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: darkgreen;
  
}

header{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 10%;
}
.logo{
   cursor: pointer;
   margin-right: auto;

}

.nav-links{
  list-style: none;
}

.nav-links li{
  display: inline-block;
  padding: 0px 20px;
}

.nav-links li a {
  transition: all 0.3s ease 0s;
}

.nav-links li a:hover{
  color: blue;
}
button{
  padding: 9px 25px;
  background-color: darkturquoise;
  border: none;
  border-radius: 50px;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  margin-left: 20px;

}

button:hover {
  background-color: firebrick;
}

